.aux-links li:first-child {
  list-style-type: none; 
}

pre {
  background-color: #2d2d2d; /* Dunkler Hintergrund */
  color: #ffffff; /* Helle Schrift */
  padding: 1rem; /* Abstand innerhalb des Blocks */
  border-radius: 4px; /* Abgerundete Ecken */
  overflow-x: auto; /* Ermöglicht horizontales Scrollen bei langen Codezeilen */
}

code {
  background-color: transparent; /* Kein Hintergrund für Inline-Code */
  color: inherit; /* Vererbt die Farbe */
}
