.aux-links li:first-child {
  list-style-type: none;
}

pre {
  background-color: #00ffff;
  color: #000000;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  font-size: 1rem;
  background-color: transparent;
  color: inherit;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

pre code {
  background-color: #00ffff;
  color: #000000;
}

.iconify {
  vertical-align: -0.15em;
  line-height: 1;
  font-size: 1em;
  display: inline-block;
}

.new-icon {
  display: inline-block;
  background-color: #ff4500; 
  color: white; 
  font-size: 0.8rem; 
  font-weight: bold;
  padding: 0.2rem 0.4rem; 
  margin-left: 0.5rem; 
  border-radius: 0.25rem; 
  box-shadow: 0 0 8px rgba(255, 69, 0, 0.6); 
  animation: glow 1.5s infinite; 
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(255, 69, 0, 0.6);
  }
  50% {
    box-shadow: 0 0 16px rgba(255, 69, 0, 0.8);
  }
}

.nav-list-item .iconify {
  vertical-align: middle;
  margin-right: 5px;
}






