.aux-links li:first-child {
  list-style-type: none;
}

pre {
  background-color: #00ffff;
  color: #000000;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  font-size: 1rem;
  background-color: transparent;
  color: inherit;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

pre code {
  background-color: #00ffff;
  color: #000000;
}

.iconify {
  vertical-align: -0.15em;
  line-height: 1;
  font-size: 1em;
  display: inline-block;
}

.nav-list-item .iconify {
  vertical-align: middle;
  display: inline-block;
}






