@import "./color_schemes/dark";


$body-font-family: "Poppins", sans-serif;
$body-font-weight: 500;
$mono-font-family: "Fira Code", monospace;
$link-color: #7490c1;


.nav-children,
.nav-item .nav-children {
  color: #abc9ff !important; 
}
