@import "./color_schemes/dark";
$body-font-family: "Poppins", sans-serif;
$body-font-weight: 500;
$mono-font-family: "Courier New", monospace;
$link-color: #D8BFD8;
$link-hover-color: #CDA4D2; 
$link-visited-color: #B89ABF;
