<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
<meta property="og:title" content="tawmae">
<meta property="og:description" content="A collection of Streamer.bot extensions">
<meta property="og:url" content="https://tawmae.github.io/">
<meta property="og:image" content="https://tawmae.github.io/assets/general/website_card.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="tawmae">
<script src="https://code.iconify.design/3/3.0.1/iconify.min.js"></script>


<div class="navbar">
  <!-- Hier fügen wir die benutzerdefinierte Navigation mit den Icons ein -->
  {% include nav_icons.html %}
</div>
