<nav class="nav">
  <ul>
    {% assign sorted_pages = site.pages | sort: "nav_order" %}
    {% for item in sorted_pages %}
      {% if item.nav_order %}
        <li class="nav-item">
          <a href="{{ item.url | relative_url }}">
            {{ item.title }}
            {% assign icon = site.icon_mapping[item.title] | default: 'mdi:star' %}
            <span class="iconify" data-icon="{{ icon }}" style="margin-left: 8px;"></span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
