<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <main>
    <div id="content">
      <!-- Titel mit Icon anzeigen, wenn 'page_icon' vorhanden -->
      {% if page.page_icon %}
        <h1>
          <span class="iconify" data-icon="{{ page.page_icon }}" data-inline="false"></span>
          {{ page.title }}
        </h1>
      {% else %}
        <h1>{{ page.title }}</h1>
      {% endif %}

      <!-- Seiteninhalt -->
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
