<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <a class="skip-to-content" href="#main-content">{{ site.data.ui-text[site.lang].skip_to_main_content | default: "Skip to main content" }}</a>
    <div id="site">
      <header id="header" class="site-header" role="banner">
        <!-- Standard-Header von Just the Docs -->
        {% include default_header.html %}
      </header>
      <div id="content">
        <aside class="site-sidebar">
          <div class="sidebar-content">
            <!-- Hier wird deine benutzerdefinierte Navigation verwendet -->
            {% include nav.html %}
          </div>
        </aside>
        <main id="main-content" class="site-main" role="main">
          {{ content }}
        </main>
      </div>
      <footer class="site-footer">
        <!-- Standard-Footer von Just the Docs -->
        {% include default_footer.html %}
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
